<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%= render_gmap_coordinate_picker :static => 'true', :zoom_level => 15 , :default_coordinates => [
  24.987547, 121.575954]  %>
